.regis-card{
    width: 800px;
    margin: 0 auto;
    float: none;
    margin-top:15%;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px rgb(128, 128, 128);
}
/* .row{
    width: 100%;
} */
.card-title{
    color: #000000;
}
.submit-but{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:0px 0px 10px rgb(128, 128, 128); ;
}


/* ---------------------------------------------------------- */
.col-regis1{
    margin-top: 100px;
    /* height: 300px; */
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px #000000;
    
}
.col-header{
    text-align: center;
    height: 60px;
}
.col-input{
    height: 70px;
}
input{
    border-radius: 20px;
}
