<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header >
  <app-nav-head></app-nav-head>
</header>
<body>
  <router-outlet></router-outlet>
</body><br>
<footer class="bg-secondary footer justify-content-center" style="height:200px; ">
  <br><br>
<div class="row text-center text-white"><h6>Tawin winichai</h6></div>
<div class="row text-center text-white"><h6>ojamakiki@gmail.com</h6></div>
</footer>
</html>