.sidebar {
    height: 50vh; /* กำหนดความสูงของแถบเลื่อนด้านข้าง */
    overflow-y: auto; /* เพิ่มแถบเลื่อนเมื่อข้อมูลเกินหน้าจอ */
    border-right: 1px solid #ddd; /* ตกแต่งเส้นขอบด้านขวาของแถบ */
    padding: 20px; /* เพิ่มระยะห่างของเนื้อหาในแถบ */
  }
  
  .body-card {
    padding: 20px; /* เพิ่มระยะห่างของเนื้อหาใน body-card */
  }
  body{
    margin-top:100px;
    }
    
    