<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div class="row text-center">
        <h1>เพิ่มผลงานของคุณ</h1>
    </div>

    <form [formGroup]="performForm">
        <div class="row text-center" style="margin-top: 50px;">
            <h2>ผลงานชื่อ?</h2>
        </div>
        <div class="row justify-content-center form-group">
            <div class="col-md-4">
                <input formControlName="performName" class="col-md-12 form-control " type="text">
            </div>
        </div>
        <div class="row text-center" style="margin-top: 50px;">
            <h2>อธิบายเกี่ยวกับผลงาน</h2>
        </div>
        <div class="row justify-content-center form-group">
            <div class="col-md-4">
                <textarea formControlName="performDescrips" class="col-md-12 form-control" rows="10"></textarea>
            </div>
        </div>

        <!-- <div *ngFor="">

        </div> -->
        <div class="row justify-content-center form-group " style="margin-top: 50px;">
            <div class="col-md-4">
                <input type="file" formControlName="picture" class="col-md-12 form-control"
                    accept="image/jpeg, image/png, image/jpg" multiple="multiple">
                <output></output>
            </div>

        </div>
        <div class="row justify-content-center form-group" style="margin-top: 50px;">
            <div class="col-md-4">
                <input type="file" class="col-md-12 form-control" (change)="onselect($event)" multiple accept="image/jpeg, image/png, image/jpg">
            </div>
        </div>

        <div class="row justify-content-center form-group" style="margin-top: 50px;">
            <div class="col-md-9">
                <img *ngFor='let url of urls' [src]="url" class="col-md-2" style="margin: 5px;" ><br>
            </div>

        </div>



        <button (click)="savePerform()">teste</button>


    </form>
</body>

</html>