.btn-1{
    overflow: hidden;
    margin: 1%;
    width: 47%;
}
.btn-2{
    overflow: hidden;
}
/* .sassion-dropdown{
    width: 47%;
} */

/* .form-inline{
    width: 240px;
} */

.navbar{
    height: 70px;
}
/* .navbar-brand{
    margin-left: 2%;
} */
/* .navbar{
    width: 1920px;
} */

.linebut{
  background-color: #06C755 ;

}
