<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <nav
        class="navbar navbar-dark bg-dark fixed-top row"
      >

      <!-- LOGO -->
        <div class="col-md-2 col-sm-12 bg-dark" style="text-align: center">
          <a href="" class="navbar-brand">BANDLIKE</a>
        </div>

        <!-- SESION -->
        <div class="col-md-2 col-sm-12 bg-dark " style="text-align: center">

          <form class="row form-inline justify-content-center" *ngIf="!butinv">
            <div ngbDropdown class="row col-md-10 col-6 justify-content-center">

              <button
                type="button"
                routerLink="profile"
                class=" btn-2 col-md-10 col-9 btn btn-secondary justify-content-center">
                {{ session }}
              </button>
              <button
                type="button"
                class="col-md-2 col-3 btn-2 btn btn-secondary dropdown-toggle justify-content-center"
                id="dropdownBasic1"
                ngbDropdownToggle
              ></button>
              <div
                ngbDropdownMenu
                aria-labelledby="dropdownBasic1"
                class="sassion-dropdown"
              >
                <button ngbDropdownItem routerLink="profile">Profile</button>
                <a ngbDropdownItem href="http://180.183.246.177:1114" class="linebut text-white" >Connect LINE</a>
                <div class="dropdown-divider"></div>
                <button (click)="logout()"  ngbDropdownItem>Logout</button>

              </div>
            </div>
          </form>

          <!-- lOGIN-LOGOUT -->
          <form class="form-inline col-12" *ngIf="butinv">
            <button
              class="btn btn-1 btn-light regis-b"
              type="button"
              routerLink="/register"
            >
              <i class="bi bi-clipboard-plus-fill"></i>
            </button>
            <button
              class="btn btn-1 btn-secondary"
              routerLink="/login"
              type="button"
            >
              <i class="bi bi-box-arrow-in-right"></i>
            </button>
          </form>
        </div>
      </nav>
    </div>
  </body>
</html>
